<!--
<div style="background-color: #6351ce;">
  <footer class="footer navbar-fixed-bottom">
    <div class="footer-copyright text-center py-3">
      <p>Appointment Manager &copy; 2020 Copyright</p>
    </div>
  </footer>
</div> -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p><%= I18n.t('footer.foot') %></p>
      </div>
    </div>
  </div>
</footer>
