<% flash.each do |type, message| %>
  <% if type == "alert" %>
    <div class="alert alert-danger">
      <div class="container"><% message %></div>
    </div>
  <% end %>
  <% if type == "notice" %>
    <div class="alert alert-notice">
      <div class="container"><% message %></div>
    </div>
  <% end %>
<% end %>
