
<div class="return_home">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
  </button>
  <h1>Message Sent Successfully</h1>
  <p>We will respond back to you shorty!</p>
  <%= link_to 'Return Home', root_path, class: 'btn btn-default my-2' %>
</div>
