// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.site-footer
{
  background-color:#333333;
  padding:10px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#8f8f8f;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
