<div id="all_appointments" class="tab-panel">
  <h1>All Meetings</h1>
  <% @appointment.each do |appointment| %>
    <div>
      <h1><% link_to appointment.name, appointment %><h1>
    </div>
    <div>
      <%= appointment.name %>
      <%= time(appointment.start_time) %> &ndash;
      <%= time(appointment.end_time) %>
    </div>

  <% end %>

</div>
