<div>
  <%= month_calendar(events: @appointment) do |date, appointment| %>
    <%= date %>
    <% appointment.each do |app| %>
      <div>
        <% if (current_user.name == app.name) || current_user.admin? %>
        <%= link_to app.name, app%>
        <% else %>
        <p><%=I18n.t('appointment.booked')%></p>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>
