<div id="meeting-calender">
  <%= month_calendar(events: @appointment) do |date, appointment| %>
    <%= date %>
    <% appointment.each do |app| %>
      <div>
        <% if current_user.name == app.name %>
        <%= link_to app.name, app %>
        <% else %>
        <p>Booked</p>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>
