<div class="jumbotron text-center">
  <h1>You currently have no booked appointments</h1>
  <br>
  <%= link_to "Book New Appointment", new_appointment_path, class: 'btn btn-default my-2' %>
  <br>
  <br>
  <%= link_to 'Go Back', appointments_path, class: 'btn btn-default my-2' %>
</div>
