<h1><%=I18n.t('appointment.edit')%></h1>

<%= render 'form', appointment: @appointment %>
<%= link_to 'Show', @appointment, class: 'btn btn-default my-2' %> |
<%= link_to 'Back', appointments_path, class: 'btn btn-default my-2' %>
