<h1>Edit Appointment</h1>

<%= render 'form', appointment: @appointment %>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
</button>
<%= link_to 'Show', @appointment, class: 'btn btn-default my-2' %> |
<%= link_to 'Back', appointments_path, class: 'btn btn-default my-2' %>
