<h2>Manage Appointments Here</h2>
<%= render 'calendar' %>
<div style="text-align: center;">
  <% if current_user.admin == false %>
  <%= link_to "New Appointment", new_appointment_path, class: 'btn btn-default my-2' %>
  <% end %>
  <%= link_to "Show Your Appointments", showall_path, class: 'btn btn-default my-2' %>
</div>
